/* Variables */
$font-family-main: 'Nunito',sans-serif;
$font-awesome: 'FontAwesome',sans-serif;

$font-color: #54545d;
$font-color-light: #5a5b63;
$font-color-important: #2b2b30;

$border-color: #d8d8d8;
$bgr-top: #f9faff;
$color-primary: #5E60FF;
$color-primary-light: #d2d2fa;
$color-primary-btn-upload: #c2c2ec;
$color-primary-darker: #393BBF;
$color-secondary: #e30cff;
$form-control-bgr: #f0f0fc;

$color-primary-lighter: #f6f6ff;
$border-color-sec: #c2c2ec;

$border-color-filters: #69696c;

$bgr-light: #f7f5ff;

$color-text-header:  #434345;

$bgr-body: #fff;
$color-light: #fff;
$color-light-gray: #eef2f7;
$font-size: 15px;
$p-font-size: 15px;
$font-size-footer: 15px;

$required-color: #d31a51;
$minus: #d31a51;
$plus: #009688;

$cancel-color: #6e6c76;
$bgr-table-row: #fafaff;